@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

* {
	margin: 0;
	padding: 0;
	border: 0;
}
.gap-70 {
	width: 50%;
	height: 70px;
}
.gap-32 {
	width: 50%;
	height: 32px;
}
body {
	background: #F5F5F5;
	color: #67727A;
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 300%;
	font-weight: 600;
	text-align: center;
	padding-top: 2%;
	color: #000000;
}
h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 200%;
	font-weight: 300;
	text-align: center;
	padding-top: 2%;
	color: #000000;
}
h3 {
	font-size: 175%;
	line-height:155%;
	padding: 5% 0;
	font-weight: 400;
	color: #000000;
}
p {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000000;
	font-size: 130%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: center;
}
.inner-wrapper-3 p {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #808080;
	font-size: 100%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: center;
}
img {
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
header {
	background-color: #fff;
	width: 100%;
	height: 86px;
}
#header-inner {
	max-width: 1200px;
	margin: 0 auto;
}
#logo {
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(img/sig_black.png) no-repeat center;
}
/*-- Start Navigation--*/
nav {
	float: right;
	padding: 25px 20px 0 0;
}
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/nav.png) center;
}
a:hover#menu-icon {
	border-radius: 4px 4px 0 0;
}
ul {
	list-style-type: none;
}
nav ul li {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 10px;
}
nav ul li a {
	color: #000000;
	text-decoration: none;
}
nav ul li a:hover {
	color: #C3D7DF;
}
.current {
	color: #1E90FF;
}
/*--Endof_ Navigation--*/

.banner {
	width: 100%;
	background-color: #fff;
}
.banner-inner {
	max-width: 1100px;
	margin: 0 auto;
}
.lineback {
	width: 100%;
	background-color: #fff;
}
.line {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.one-fifth {
	display: inline;
	width: 20%;
	float: left;
	text-align: center;
}
/*--Styling four columns--*/
#omni {
	background-color: #fff;
}
#jazz {
	background-color: #fff;
}
#robot {
	background-color: #fff;
}
#cadet {
	background-color: #fff;
}
#chi {
	background-color: #fff;
}
.trombone {
	text-align: center;
	width: 100%;
	background-color: #fff;
}
.inner-wrapper {
	float: right;
	width: 100%;
	background-color: #fff;
}
.about {
	text-align: center;
	margin: 0 auto;
	width: 50%;
	height: auto;
}
.trom {
	text-align: center;
	margin: 0 auto;
	width: 50%;
	height: auto;
}
article {
	float: left;
	margin: 0 auto;
	width: 50%;
	height: auto;
}
aside {
	float: right;
	margin: 0 auto;
	width: 50%;
	height: auto;
}
.tablet2 {
	text-align: center;
	margin: 0 auto;
	width: 65%;
	height: auto;
}
#mobile {
	background-color: #fff;
}
#desktop {
	background-color: #fff;
}
.inner-wrapper-2 {
	float: left;
	width: 100%;
	background-color: #fff;
}
.inner-wrapper-3 {
	float: left;
	width: 100%;
	background-color: : #fff;
}
.one-third {
	width: 33.3333333%;
	float: left;
	text-align: center;
}
.load {
	float: left;
	width: 100%;
	background-color: #fff;
}
.load p {
	color: #1E90FF;
}
#leader {
	background-color: #fff;
}
#respons {
	background-color: #fff;
}
#commun {
	background-color: #fff;
}
/*--Start Footer--*/
footer {
	background-color: #000000;
	width: 100%;
}
.social {
	list-style-type: none;
	text-align: center;
}
.social li {
	display: inline;
}
.social i {
	font-size: 460%;
	margin: 1%;
	padding: 5% 5% 5% 4%;
	color: #C3D7DF;
}
.social i:hover {
	color: #1E90FF;
}
footer.second {
	border-top: 1px solid #000000;
	background-color: #000000;
	max-height: 55px;
	margin: 0;
}
footer.second p {
	padding: 5px 0 9px 0;
	text-align: center;
	color: #C3D7DF;
}

